<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VehicleInsuranceSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PolicyController</display-name>
    <servlet-name>PolicyController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.PolicyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PolicyController</servlet-name>
    <url-pattern>/PolicyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardController</display-name>
    <servlet-name>CardController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.CardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardController</servlet-name>
    <url-pattern>/CardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reg_PolicyController</display-name>
    <servlet-name>Reg_PolicyController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.Reg_PolicyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reg_PolicyController</servlet-name>
    <url-pattern>/Reg_PolicyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimPolicyController</display-name>
    <servlet-name>ClaimPolicyController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.ClaimPolicyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimPolicyController</servlet-name>
    <url-pattern>/ClaimPolicyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccidentClaimController</display-name>
    <servlet-name>AccidentClaimController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.AccidentClaimController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccidentClaimController</servlet-name>
    <url-pattern>/AccidentClaimController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TheftClaimController</display-name>
    <servlet-name>TheftClaimController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.TheftClaimController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheftClaimController</servlet-name>
    <url-pattern>/TheftClaimController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegisterController</display-name>
    <servlet-name>CustomerRegisterController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.CustomerRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegisterController</servlet-name>
    <url-pattern>/CustomerRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleRegister</display-name>
    <servlet-name>VehicleRegister</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.VehicleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleRegister</servlet-name>
    <url-pattern>/VehicleRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulateController</display-name>
    <servlet-name>PopulateController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.PopulateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateController</servlet-name>
    <url-pattern>/PopulateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.Log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminVehController</display-name>
    <servlet-name>AdminVehController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.AdminVehController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVehController</servlet-name>
    <url-pattern>/AdminVehController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexController</display-name>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/IndexController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutUs</display-name>
    <servlet-name>AboutUs</servlet-name>
    <servlet-class>com.cognizant.VehicleInsuranceSystem.controller.AboutUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUs</servlet-name>
    <url-pattern>/AboutUs</url-pattern>
  </servlet-mapping>
</web-app>